:root {
    --background: #fee440;
    --primary: #BF3100;
    --secondary: #FF9F1C;
    --secondary-rgb: rgb(240, 239, 238);
    --tertiary: #2EC4B6;
    --tertiary-rgb: 46, 196, 182;
    --tertiary-light-rgb: rgb(249, 207, 159);
    --tertiary-lighter-rgb: rgb(255, 255, 255);
}

body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
    color: var(--primary)
}

#app {
    height: 100%;
    width: 100%;
}